# editor files
.vscode/
.eslint*
.prettier*
.nova

# build output
dist
dist-baseline/
.astro/
static/processed_images/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# python venv (pagefind post-build)
.venv/
