@import "normalize.css";
@import "@fontsource/be-vietnam-pro";
@import "@fontsource/be-vietnam-pro/900.css";
@import "@fontsource/be-vietnam-pro/500.css";
@import "@fontsource/be-vietnam-pro/200.css";
@import "@fontsource/roboto-mono";
@import "@fontsource/ia-writer-mono";

html {
}

:root {
  --surface: #f5e4bb;
  --text: black;
  --header-surface: #ecc979;
  --header-text: black;
  --menu-surface: #c9ab67;
  --menu-border: #0d0a01;
  --menu-text: black;
  --link-text: #5b3e34;
  --episode-title: #5b3e34;
  --episode-text: black;
  --episode-latest-bg: var(--menu-surface);
  --brew-bg: #b49664;
  --pager: #fff;
  --pager-bg: #0d0a01;
  --pager-link-text: #f5e4bb;
  --progress-value: #b49664;
  --player-surface: var(--pager-bg);
  --player-text: var(--surface);

  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: var(--menu-border);
  --pagefind-ui-text: #fff;
  --pagefind-ui-input-text: #fff;
  --pagefind-ui-message-text: #000;
  --pagefind-ui-result-title-text: var(--link-text);
  --pagefind-ui-result-text: var(--text);
  --pagefind-ui-background: var(--menu-border);
  --pagefind-input-background: var(--menu-border);
  --pagefind-ui-border: var(--menu-surface);
  --pagefind-ui-tag-text: #fff;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;
  --pagefind-button-background: var(--pagefind-input-background);
  --pagefind-button-color: var(--pagefind-ui-tag-text);
}

@font-face {
  font-family: "CaptainEdward";
  src: url("/fonts/CaptainEdward-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  scroll-behavior: smooth;
}

*:last-child {
  margin-bottom: 0;
}

html {
  color: var(--menu-surface);
}

body {
  font-family: "Be Vietnam Pro";
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.5;
  background-color: var(--surface);
  color: var(--text);
}

div#wrapper-grid {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
  justify-items: center;
}

/* Screens under 900px have the menu under the main content with a link to the menu up near the title */
@media only screen and (max-width: 899px) {
  div#wrapper-grid {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas: "header" "main" "footer" "menu";
  }
}

aside {
  width: 100%;
  grid-area: menu;
}

main {
  max-width: 80ch;
  min-height: calc(100vh - 330px); /*100 vh - header & footer h */
  margin: 0 auto;
  padding: 1rem 2rem 3rem;
  grid-area: main;
}

aside,
main {
  min-width: 0;
}

h1 {
  font-family: "CaptainEdward";
  font-weight: 900;
  font-size: 3.5rem;
}

h2 {
  font-family: "CaptainEdward";
  font-weight: 900;
  font-size: 2.3rem;
}
h3 {
  font-family: "CaptainEdward";
  font-weight: 700;
  font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.1rem;
  }
  main {
    max-width: 90%;
    padding: 0.5rem 1rem 3rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

ul li a {
  text-decoration: none;
  color: var(--link-text);
}
ul li a:hover {
  text-decoration: underline;
}

div.brew-container {
  width: 97%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  margin: 2rem auto 2rem;
}
@media screen and (max-width: 819px) {
  div.brew-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 439.98px) {
  div.brew-container {
    width: 90%;
  }
}
div.episode p img {
  width: 300px;
  height: auto;
  margin-left: 2rem;
}

#search .pagefind-ui__search-input,
#search .pagefind-ui__search-clear {
  background-color: var(--pagefind-input-background);
  color: var(--pagefind-ui-input-text);
}
#search .pagefind-ui__result-title,
#search .pagefind-ui__result-link {
  display: inline-block;
  font-weight: 700;
  font-size: calc(35px * var(--pagefind-ui-scale));
  color: var(--pagefind-ui-result-title-text);
}
#search .pagefind-ui__result-excerpt {
  color: var(--pagefind-ui-result-text);
  font-weight: 400;
  font-size: calc(1.1rem * var(--pagefind-ui-scale));
}
#search .pagefind-ui__message {
  color: var(--pagefind-ui-result-title-text);
  margin: calc(0.5rem * var(--pagefind-ui-scale)) 0
    calc(1.2rem * var(--pagefind-ui-scale))
    calc(0.5rem * var(--pagefind-ui-scale));
}
#search .pagefind-ui__button {
  color: var(--pagefind-button-color);
  background: var(--pagefind-button-background);
}
#search .pagefind-ui__result-thumb {
  display: none;
}

#search .pagefind-ui__result-tag {
  background-color: var(--menu-border);
  color: var(--pagefind-ui-tag-text);
}

#search .pagefind-ui__filter-group,
#search .pagefind-ui__filter-name {
  color: var(--text);
}
